@import "../vars.css";
*{
  background-color: black;
  font:white;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
}
.section
{
  box-sizing: border-box;
  height: 100%;
  color:var(--color-text);
}
.signbutton
{
  display: flex;
  justify-content: space-between;
}
#Email
{
  color:var(--color-search-text);
  font-weight: 600;
}
#Password
{
  background-color: var(--color-search);
  color:var(--color-search-text);
  font-weight: 600;
}

.Auth
{
  color:black !important;
}